<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.UserDao">

    <select id="getDbType" resultType="UserTrend" parameterType="String">
        SELECT
            CONCAT(MONTH(create_date), '月') month,
            COUNT(*) count
        FROM
            USER
        WHERE
            sex = #{sex}
        GROUP BY
            MONTH (create_date)
    </select>
</mapper>
